<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
 </configSections>
<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=WPF;User ID=sa;Password=Ygkpa@457;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="Multi_Login.Properties.Settings.Setting" connectionString="Data Source=localhost;Initial Catalog=WPF;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MaterialDesignColors" publicKeyToken="c4f0c3a78c3b8e55" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
